* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.main-container {
    padding: 40px;
    border-radius: 15px;
    height: 461px;
    width: 449px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    background-color: #fefefe;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.15);
}

#header-container {
    width: 369px;
    height: 78px;
    gap: 8px;
    display: flex;
    align-items: center;
    align-self: stretch;
    color: #18E395;
}

#form-container {
    height: 263px;
    width: 369px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    gap: 32px;
}

.form-content {
    height: 188px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    align-self: stretch;
}

.first-container input,
.third-container input{
    width: 369px;
    height: 35px;
    display: flex;
    align-items: flex-start;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
}

.second-container {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

#street {
    width: 165px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

#number,
#neighborhood {
    display: flex;
    width: 70px;
    height: 35px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}