*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/background.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

main {
    width: 1140px;
    height: 732px;
    flex-shrink: 0;
    display: flex;
    border: 4px solid #000;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
}

.main-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 16px;
    font-family: "inter";
}

.main-container form input {
    height: 48px;
    padding: 8px;
    display: flex;
    align-items: center;
    width: 369px;
    border: 3px solid #000;
    border-radius: 5px;
}

.register-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: underline;
    font-family: Inter;
    font-size: 12px;
}

.register-container a {
    text-decoration: none;
    color: #000;
}

.register-container button {
    width: 140px;
    padding: 8px;
    background-color: #000;
    border: none;
    color: #fff;
    font-family: "inter";
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.divisor hr {
    width: 369px;
    color: #ACACAC;
}

.divisor p{
    position: relative;
    top: -60%;
    left: 35%;
    background-color: #f9f9f9;
    width: 30%;
    text-align: center;
    color: #ACACAC;
    font-family: Inter;
    font-size: 12px;
}

.social-media-container {
    display: flex;
    gap: 16px;
}

.social-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ACACAC;
    padding: 1px;
    width: 124px;
    height: 124px;
    flex-shrink: 0;
    cursor: pointer;
}

.main-container,
.img-container {
    width: 50%;
}

.img-container img {
    width: 566px;
    height: 724px;
}

#mob-img {
    display: none;
}

#desk-img {
    display: block;
}

@media (max-width: 1400px) {
    
    main {
        height: 852px;
        width: 393px;
        justify-content: center;
    }

    .main-container {
        width: 100%;;
        padding: 54px 32px 176px 32px;
        align-items: center;
        gap: 32px;
        background-color: #ffffffe4;
    }

    #mob-img {
        display: block;
    }

    #desk-img {
        display: none;
    }

    .img-container {
        display: none;
    }

    .login-container,
    .register-container {
        margin-bottom: 32px;
    }

    .login-container form h2{
        font-size: 32px;
    }

    .login-container form input {
        width: 305px;
        height: 60px;
    }

    .register-container {
        flex-direction: column-reverse;
    }

    .register-container button {
        width: 100%;
        height: 59px;
        margin-top: 32px;
        margin-bottom: 24px;
    }

    #logo-container {
        margin-bottom: 72px;
    }

    .divisor {
        display: none;
    }

    .social-media-container {
        flex-direction: column-reverse;
    }
}